@model MemberDataEntryForm.Models.UserData

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>


    <h4>UserData</h4>

    @{
        if (ViewBag.msg != null)
        {
            <h1 style="color:red;">@ViewBag.msg</h1>
        }
    }
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.userType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.userType)
        </dd>
    </dl>
</div>

    <a asp-action="Edit" asp-route-id="@Model?.UserId" class="btn btn-secondary">Edit Data</a> |
    <a asp-action="Delete" asp-route-id="@Model?.UserId" class="btn btn-secondary">Delete User Data</a>
    <br />
    <br />
    <a asp-controller="User" asp-action="Logout" class="btn btn-primary">LogOut</a>
    <br />
    <br />
@{
    if (ViewBag.Auth != null)
    {
        
        <a asp-controller="User" asp-action="Index" asp-route-id="@Model?.UserId" class="btn btn-success">Access Users List</a>
        <span class="seperator"> | </span>
    }
}
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Access Members List</a>

