@model IEnumerable<MemberDataEntryForm.Models.UserData>

@{
    ViewData["Title"] = "Index";
}




@{
    if (ViewBag.message != null)
    {
        <h1 style="color:green;">@ViewBag.message</h1>
    }
}
<table class="table text-white" style="backdrop-filter:blur(260px); width:contain; padding:25px 25px;">
    <thead>
        <tr>
            <th>
                User Id
            </th>
            <th>
                First Name
            </th>
            <th>
               Last Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Confirm E-mail
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                Confirm Password
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                Mobile No.
            </th>
            <th>
                User Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PasswordConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobileNo)
                </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.UserRoleId)
                    </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UserId" asp-route-AdminUserId="@ViewBag.AdminUserId" asp-route-FrontDeskUserId="@ViewBag.FrontDeskUserId" class="btn btn-secondary">Edit Record</a>
                    @{
                        if(ViewBag.msg != null)
                        {
                            <span class="seperator"> | </span>
                            <a asp-controller="UserProposedData" asp-action="Edit" asp-route-id="@item.UserId" asp-route-AdminUserId="@ViewBag.AdminUserId" class="btn btn-primary">Pending Request</a>
                            <span class="seperator"> | </span>
                            <a asp-action="Delete" asp-route-id="@item.UserId" asp-route-AdminUserId="@ViewBag.AdminUserId" class="btn btn-secondary">Delete Record</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
@*     <h6> <a asp-action="Details" asp-route-id="@Model?.UserId">Back to Details</a></h6> *@
    <a asp-action="Logout" class="btn btn-primary">LogOut</a>
</table>
@{
    if(ViewBag.msg != null)
    {    
        <a asp-controller="User" asp-action="Create" asp-route-AdminUserId="@ViewBag.AdminUserId" class="btn btn-primary">Create New User</a>
        <span class="seperator"> | </span>
        <a asp-controller="UserType" asp-action="Index" class="btn btn-primary">User Types List</a>
        <span class="seperator"> | </span>  
    }
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Access Members List</a>
}