@model MemberDataEntryForm.Models.MemberData

@{
    ViewData["Title"] = "Details";
}

<h1>Member Details</h1>

<div>
    <hr />
    @* <dt class="col-sm-2"> *@
        @* @Html.DisplayNameFor(model => model.Image) *@
    @* </dt> *@
    @* <dd class="col-sm-10"> *@
        <img src="~/images/@Html.DisplayFor(model => model.Image)" style="width:100px; height:100px;" />
    @* </dd> *@
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            D.O.B
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dob)
        </dd>
        <dt class="col-sm-2">
            Registered Address
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResAddress)
        </dd>
        <dt class="col-sm-2">
            Registered Phone
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResPhone)
        </dd>
        <dt class="col-sm-2">
            Office No.
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OfficeNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profession)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profession)
        </dd>
        <dt class="col-sm-2">
            Office Address
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OfficeAddress)
        </dd>
        <dt class="col-sm-2">
           Mobile No.
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MobileNo)
        </dd>
        <dt class="col-sm-2">
            Alternate Mobile No.
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AlternateMobileNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Date of Marriage
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateofMarriage)
        </dd>
        <dt class="col-sm-2">
            Spouse Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NameofSpouse)
        </dd>
        <dt class="col-sm-2">
            Spouse D.O.B
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SpouseDob)
        </dd>
        <dt class="col-sm-2">
           Child Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChildName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-secondary">Edit Data</a> |
    <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-secondary">Delete Data</a> @* |
    <h6> <a asp-controller="Home" asp-action="Logout">LogOut</a></h6> *@
    <br />
    <br />
    <a asp-controller="MemberBusiness" asp-action="Details" asp-route-id="@Model?.Id" class="btn btn-primary">Checkout Business Details</a> |
    <a asp-controller="MembersFamily" asp-action="Details" asp-route-id="@Model?.Id" class="btn btn-primary">Ckeckout Family Details</a> |
    <a asp-controller="MemberAddress" asp-action="Details" asp-route-id="@Model?.Id" class="btn btn-primary">Ckeckout Address Details</a>
    <br />
    <br /> 
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
