@model IEnumerable<MemberDataEntryForm.Models.MemberData>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-white">Index</h1>
@{
    if (@ViewBag.Admin != null)
    {
        <a asp-action="Create" asp-route-AuthId="@ViewBag.AuthId" class="btn btn-light"><i class="bi bi-building-fill-add"></i>  Create New Member</a>
    }
}
<br />
<br />
<table class="table text-white-400" style="font-weight:bold; border-radius:20px;border: hidden rgb(255,255,255);box-shadow: 0 0 100px rgba(0,0,0,.5); backdrop-filter:blur(300px); width:contain; padding:25px 25px;">
    <thead> 
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                D.O.B
            </th>
            <th>
                Registered Address
            </th>
            <th>
               Registered Phone
            </th>
            <th>
                Office No.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profession)
            </th>
            <th>
                Office Address
            </th>
            <th>
                Mobile No.
            </th>
            <th>
                Alternate Mobile No.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Date of Marriage
            </th>
            <th>
                Spouse Name
            </th>
            <th>
                Spouse D.O.B
            </th>
            <th>
                Child Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem  => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem  => item.Name)
                </td>
            <td>
                    @Html.DisplayFor(modelItem  => item.Dob)
            </td>
            <td>
                    @Html.DisplayFor(modelItem  => item.ResAddress)
            </td>
            <td>
                    @Html.DisplayFor(modelItem  => item.ResPhone)
            </td>
            <td>
                    @Html.DisplayFor(modelItem  => item.OfficeNo)
            </td>
            <td>
                    @Html.DisplayFor(modelItem  => item.Profession)
            </td>
            <td>
                    @Html.DisplayFor(modelItem  => item.OfficeAddress)
            </td>
            <td>
                    @Html.DisplayFor(modelItem  => item.MobileNo)
            </td>
            <td>
                    @Html.DisplayFor(modelItem  => item.AlternateMobileNo)
            </td>
            <td>
                    @Html.DisplayFor(modelItem  => item.Email)
            </td>
            <td>
                    @Html.DisplayFor(modelItem  => item.DateofMarriage)
            </td>
            <td>
                    @Html.DisplayFor(modelItem  => item.NameofSpouse)
            </td>
            <td>
                    @Html.DisplayFor(modelItem  => item.SpouseDob)
            </td>
            <td>
                    @Html.DisplayFor(modelItem  => item.ChildName)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item?.Id" asp-route-AuthId="@ViewBag.AuthId" class="btn btn-info">Details</a> <br />
            </td>
        </tr>
            }
    </tbody>
</table>
<a asp-controller="User" asp-action="Index" asp-route-id="@ViewBag.AuthId" class="btn btn-primary"><i class="bi bi-arrow-left-circle-fill"></i>  Back to User List</a>
