@model MemberDataEntryForm.Models.MemberFamilyData

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MemberFamilyData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpouseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpouseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpouseOccupation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpouseOccupation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpouseMobileNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpouseMobileNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChildName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChildName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherOccupation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherOccupation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherMobileNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherMobileNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherOccupation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotherOccupation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherMobileNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotherMobileNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Add/Edit Details</a> <br />
    <a asp-controller="Home" asp-action="Index">Back to Member Details</a>
</div>
