@model MemberDataEntryForm.Models.MemberBusinessData

@{
    ViewData["Title"] = "Details";
}


<div class="text-white" style="border-radius:20px;border: hidden rgb(255,255,255);box-shadow: 0 0 100px rgba(255,255,255,.5); backdrop-filter:blur(300px); width:contain; padding:25px 25px;">
    <h3>MemberBusiessData - Existing Details</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Member No.
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MemNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            Business Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessName)
        </dd>
        <dt class = "col-sm-2">
            Business Detail
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessDetail)
        </dd>
        <dt class = "col-sm-2">
            Business Address
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessAddress)
        </dd>
        <dt class = "col-sm-2">
            Business City
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessCity)
        </dd>
        <dt class = "col-sm-2">
            Business Postal Code
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessPostalCode)
        </dd>
        <dt class = "col-sm-2">
            Business E-mail
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessEmail)
        </dd>
    </dl>
</div>
<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" asp-route-AuthId="@ViewBag.AuthId" class="btn btn-secondary">Edit Details</a> |

    @{
        if (ViewBag.AdminAuth != null)
        {
            <a asp-controller="MemberProposedData" asp-action="BusinessEdit" asp-route-id="@Model?.Id" asp-route-AuthId="@ViewBag.AuthId" class="btn btn-info">Pending Request</a>
            <span class="seperator"> | </span>
        }
    }
    <a asp-controller="Home" asp-action="Details" asp-route-id="@Model?.MemNo" asp-route-AuthId="@ViewBag.AuthId" class="btn btn-primary">Back to Member Details</a>
</div>
