@model MemberDataEntryForm.Models.MemberBusiessData

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MemberBusiessData</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MemNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MemNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessDetail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessPostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessPostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Add/Edit Details</a> <br />
@*     <a asp-action="Delete" asp-route-id="@Model?.Id">Delete Details</a> <br /> *@
    <a asp-controller="Home" asp-action="Index">Back to Member Details</a>
</div>
