@model IEnumerable<MemberDataEntryForm.Models.MemberBusiessData>

@{
    ViewData["Title"] = "Index";
}

<h1>Business Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Member No.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessDetail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessPostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MemNo)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessPostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessEmail)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-Secondary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
