@model MemberDataEntryForm.Models.MembersFamilyData

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-white">Delete</h1>

<h3 class="text-white">Are you sure you want to delete this?</h3>
<div class="text-white" style="border-radius:20px;border: hidden rgb(255,255,255);box-shadow: 0 0 100px rgba(255,255,255,.5); backdrop-filter:blur(300px); width:contain; padding:25px 25px;">
    <h4>MemberFamilyData</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MemNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MemNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChildName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChildName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Relation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Relation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HomeAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HomeAddress)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> | 
        <a asp-action="Details" asp-route-id="@Model?.MemNo" class="btn btn-primary">Back to Details</a>
    </form>
</div>